body{
    background-color: #ffffff;
    /*opacity: 0.6;*/
}

.sm-icon{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#banner{
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

/*.first{*/
/*    background-color: #ffffff;*/
/*    opacity: 0.5;*/
/*}*/

/*.first:hover{*/
/*    opacity: 1.0;*/
/*    filter: alpha(opacity=100);*/
/*}*/

.align{
    vertical-align: bottom;
}

.c{
    background-color: #ffffff;
    opacity: 1.0;
}

.logo-text{
    /*font: "helvetica light";*/
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    color: #000000;
    padding-left: 10px;
}

.page{
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    color: #ffffff;
    text-decoration: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.nav{
    /*border:1px solid #ccc;*/
    /*border-width:1px 0;*/
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    padding-bottom: 10px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

/*li {*/
/*    float: right;*/
/*}*/

/*ul#navbar {*/
/* position: fixed;*/
/* bottom: 0;*/
/* width: 100%;*/
/* float: center;*/
/*}*/

/*CIRCLE POP NAV ARROWS*/
.color-3 { 
    background: #cc6055; 
}

.nav-circlepop a {
	margin: 0 30px;
	width: 50px;
	height: 50px;
}

.nav-circlepop a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #000;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.nav-circlepop .icon-wrap {
	position: relative;
	display: block;
	margin: 10% 0 0 10%;
	width: 80%;
	height: 80%;
}

.nav-circlepop a.next .icon-wrap {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-circlepop .icon-wrap::before,
.nav-circlepop .icon-wrap::after {
	position: absolute;
	left: 25%;
	width: 3px;
	height: 50%;
	background: #000;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-circlepop .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(30deg);
	transform: translateX(-50%) rotate(30deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.nav-circlepop .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-30deg);
	transform: translateX(-50%) rotate(-30deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-circlepop a:hover::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.nav-circlepop a:hover .icon-wrap::before,
.nav-circlepop a:hover .icon-wrap::after {
	background: #cc6055;
}

.nav-circlepop a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.nav-circlepop a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
}
/*END ARROWS*/

.nav-roundslide a {
	margin: 0 20px;
	padding: 15px;
	width: 62px;
	height: 62px;
	border-radius: 40px;
	background: #34495e;
	-webkit-transition: width 0.3s, background-color 0.3s;
	transition: width 0.3s, background-color 0.3s;
}

.nav-roundslide .icon-wrap {
	position: absolute;
	width: 32px;
}

.nav-roundslide a.prev .icon-wrap {
	left: 15px;
}

.nav-roundslide a.next .icon-wrap {
	right: 15px;
}

.nav-roundslide svg.icon {
	fill: #566473;
}

.nav-roundslide h3 {
	position: absolute;
	top: 0;
	margin: 0;
	color: #566473;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 4.45;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.nav-roundslide a.prev h3 {
	right: 20px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.nav-roundslide a.next h3 {
	left: 20px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.nav-roundslide a:hover {
	width: 200px;
	background: #fff;
}

.nav-roundslide a:hover h3 {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}


/*custom arrows*/
/*@mixin vertical-align($position: relative) {*/
/*  position: $position;*/
/*  top: 50%;*/
/*  -webkit-transform: translateY(-50%);*/
/*  -ms-transform: translateY(-50%);*/
/*  transform: translateY(-50%);*/
/*}*/

/*.arrow{*/
/*  @include vertical-align();*/
/*}*/

.arrow{
   vertical-align: middle;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
