#container,
.fallback,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.btn,
.close {
    cursor: pointer
}

.nav ul li,
p {
    line-height: 1.65
}

.banner,
.divide,
.footer-it,
.nav ul li,
h5.set,
h5.set .full,
p.body {
    float: left
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%
}

aside,
details,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

#gallery,
.close,
.m-mobile,
.menu-mobile,
.menu-show,
.overlay,
.page {
    display: none
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body,
html {
    height: 100%
}

body {
    font-size: 16px;
    line-height: 1.75;
    background: #1a1a1a;
    overflow-y: scroll;
    overflow-x: hidden
}

#container,
.fallback,
.overlay,
.sc-h {
    overflow: hidden
}

#gallery,
.item-content {
    background: rgba(51, 51, 51, .9)
}

.overlay {
    z-index: 101
}

#container {
    opacity: .055
}

#container.con-opacity {
    opacity: .015
}

.fallback {
    z-index: -99
}

.img-fallback {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%)!important;
    -moz-transform: translateX(-50%) translateY(-50%)!important;
    -o-transform: translateX(-50%) translateY(-50%)!important;
    transform: translateX(-50%) translateY(-50%)!important
}

#gallery,
.page,
.sc-h {
    left: 0;
    top: 0
}

img.img-fallback {
    max-width: 100%;
    width: auto;
    height: auto
}

#banner {
    z-index: 11
}

.page {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0
}

.page.show-page {
    z-index: 2;
    opacity: 1
}

.sc-h {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-left: 40px;
    z-index: 100
}

.info,
.intro {
    width: 100%;
    height: auto;
    position: relative
}

.info {
    padding-top: 5px
}

.intro {
    padding-left: 12px;
    margin-top: 50px
}

.grid .intro {
    padding-bottom: 10px
}

.logo {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 65%;
    height: auto;
    z-index: 10
}

.nav ul li,
h5 {
    font-family: 'Source Code Pro', Courier, serif;
    font-weight: 500
}

.footer,
h1,
p {
    font-family: Helvetica, Arial, sans-serif
}

.close:active,
.footer a:active,
.item:active,
.logo a:active,
.nav ul li a:active,
.next-event:active,
h5 a:active {
    opacity: .6
}

.item-content,
.m-mobile {
    -webkit-overflow-scrolling: touch
}

.info h5,
.next-event,
.upcoming h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#gallery {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-width: 520px;
    height: 100%;
    max-height: 347px;
    min-height: 347px;
    z-index: 103;
    opacity: 0
}

.btn,
.gallery {
    position: absolute;
    top: 0
}

#gallery.gallery-show,
.item-wrapper.content-show {
    opacity: 1
}

.gallery {
    left: 0;
    width: 100%;
    height: auto
}

.btn {
    width: 50%;
    height: 100%;
    z-index: 1
}

#left {
    left: 0
}

#right {
    right: 0
}

.item-wrapper {
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 15%;
    margin: 0 auto;
    width: 50%;
    height: 70%;
    max-width: 520px;
    z-index: 103;
    opacity: 0
}

.item-content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    padding: 24px
}

.upcoming,
h5 {
    padding-top: 5px
}

.grid-scroll,
.noscroll {
    overflow-y: hidden
}

.close {
    position: fixed;
    z-index: 104;
    top: 0;
    right: 0;
    width: auto;
    height: 20px;
    opacity: 0;
    margin-top: 30px;
    margin-right: 20px
}

.hero,
.sc {
    left: 0;
    position: absolute
}

.close-show {
    margin-top: 10px;
    opacity: 1
}

.sc {
    top: 0;
    width: 100%;
    max-width: 1320px;
    height: 100%;
    padding-left: 340px;
    z-index: 1
}

.content,
.hero {
    width: 100%;
    padding-left: 12px
}

.hero {
    bottom: 12%;
    height: auto;
    min-height: 200px;
    margin-bottom: 100px;
    opacity: 1
}

.hero-hide {
    bottom: -5%;
    opacity: 0
}

.content {
    position: relative;
    height: 100%;
    opacity: 0
}

.content-active {
    opacity: 1
}

.banner-wrapper {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    padding-left: 340px
}

.banner {
    position: relative;
    width: 75%;
    height: 60px;
    padding-left: 12px;
    z-index: 1
}

.upcoming {
    width: 75%;
    height: 100%;
    cursor: default
}

.divide,
.line {
    display: block;
    height: 1px;
    position: relative
}

.next-event,
.upcoming h5 {
    color: #FC0
}

.upcoming h5 {
    color: #ccc;
    margin-bottom: 0
}

.item-content h1 {
    margin-bottom: 24px;
    color: #FC0
}

.divide {
    margin-top: 4px;
    width: 10%;
    min-width: 20px;
    background: #999
}

.item .divide {
    margin-top: 8px
}

.divide.link {
    width: 100%;
    background: 0 0
}

.divide.link-alt {
    width: 96%;
    max-width: 250px;
    margin-top: 1px
}

.line {
    width: 50%;
    background: #999
}

.line-active {
    width: 80%
}

.link-active {
    width: 80%;
    background: #FC0
}

.nav {
    position: fixed;
    bottom: 5%;
    left: 0;
    padding-left: 340px;
    width: 100%;
    max-width: 1320px;
    height: 90px;
    z-index: 88
}

.nav ul {
    position: relative;
    width: 75%;
    height: 100%
}

.nav ul li {
    display: block;
    width: 33.33%;
    height: 50%;
    font-size: 1em;
    letter-spacing: .025em;
    color: #fff;
    padding-left: 12px
}

.nav ul li a,
.nav ul li a:visited {
    color: #fff;
    text-decoration: none
}

.nav ul li a.current {
    color: #FC0
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    width: 100%;
    height: 15px;
    font-weight: 400;
    font-size: .6em;
    letter-spacing: .085em;
    color: #999;
    z-index: 100;
    margin-bottom: 10px
}

p,
p.body {
    font-size: 1em
}

.footer a,
.footer a:visited {
    color: #999;
    text-decoration: none
}

.footer a:visited,
.footer-it a,
h5,
p.body {
    color: #ccc
}

.footer-it {
    padding-right: 24px;
    width: auto
}

.ite,
p.text-bt {
    padding-right: 12px
}

.footer-it.min {
    min-width: 310px
}

p {
    font-weight: 700;
    letter-spacing: .015em;
    color: #fff
}

.grid p {
    line-height: 1.35
}

p.body {
    font-weight: 400;
    letter-spacing: .0085em;
    line-height: 2.2;
    width: 100%;
    max-width: 100%;
    display: block;
    margin-top: 14px
}

h1,
h5 {
    width: 95%
}

p.text-bt {
    position: absolute;
    bottom: 0;
    padding-bottom: 12px
}

h1 {
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.35;
    max-width: 580px;
    margin-bottom: 16px;
    color: #fff
}

h5 {
    font-size: .875em;
    letter-spacing: .015em;
    line-height: 1.65;
    max-width: 420px;
    margin-bottom: -3px
}

h5.set {
    height: auto;
    min-height: 50px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    color: #FC0
}

h5.set .half {
    float: left;
    width: 33.33%;
    height: 100%
}

.bg,
.grid {
    width: 100%
}

h5.set .full {
    width: 100%;
    height: 100%
}

#it-c-date,
#it-c-place,
#it-c-time {
    color: #fff
}

h5 a,
h5 a:visited {
    color: #ccc;
    text-decoration: none
}

.bg {
    position: fixed;
    display: block;
    left: 0
}

.bg.bg-top {
    height: 60px;
    top: 0;
    background: rgba(26, 26, 26, .95);
    background: -moz-linear-gradient(top, rgba(26, 26, 26, .95) 0, rgba(26, 26, 26, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(26, 26, 26, .95)), color-stop(100%, rgba(26, 26, 26, 0)));
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, .95) 0, rgba(26, 26, 26, 0) 100%);
    background: -o-linear-gradient(top, rgba(26, 26, 26, .95) 0, rgba(26, 26, 26, 0) 100%);
    background: -ms-linear-gradient(top, rgba(26, 26, 26, .95) 0, rgba(26, 26, 26, 0) 100%);
    background: linear-gradient(to bottom, rgba(26, 26, 26, .95) 0, rgba(26, 26, 26, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#1a1a1a', GradientType=0);
    z-index: 1
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 340px;
    padding-bottom: 160px;
    height: auto;
    z-index: 1
}

.item,
.item-con {
    padding-top: 5px;
    height: 150px
}

.ite,
.item,
.item-con {
    position: relative;
    float: left;
    padding-left: 12px
}

.next-event h5,
.next-event p {
    display: inline;
    cursor: pointer;
    color: #FC0
}

.item {
    overflow: hidden;
    width: 23%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid rgba(255, 255, 255, .35);
    cursor: pointer
}

.item:hover {
    border: 2px solid rgba(255, 255, 255, .9)
}

.item:active {
    border: 2px solid rgba(255, 255, 255, .6)
}

.item-con {
    width: 73.5%;
    margin-right: 1.5%;
    margin-top: 10px;
    border: 2px solid #fff
}

.ite {
    height: auto;
    padding-top: 24px
}

.item-header {
    width: 25%
}

.item-header p {
    color: #FC0;
    padding-top: 18px
}

.item-body {
    width: 75%
}

.item-body p {
    width: 90%
}

.ite.item-body {
    padding-bottom: 12px
}

.resize {
    opacity: .15
}

@media only screen and (max-device-width:1120px) {
    .overlay {
        cursor: pointer
    }
}

@media only screen and (max-width:1120px) {
    .divide.link-alt {
        width: 100%;
        max-width: 230px
    }
    .banner {
        width: 100%;
        padding-right: 12px
    }
    .item-header {
        width: 33.33%
    }
    .item-body {
        width: 66.67%
    }
    .sc-h {
        margin-left: 20px;
        width: 250px
    }
    .footer-it.min {
        min-width: 0;
        width: auto
    }
    .logo {
        width: 70%
    }
    p.body {
        font-size: .9em
    }
    h5.set .half {
        width: 50%
    }
    .banner-wrapper,
    .grid,
    .sc {
        padding-left: 290px
    }
    .hero {
        margin-bottom: 120px;
        min-height: 150px
    }
    .footer {
        padding-left: 302px
    }
    .nav {
        padding-left: 290px
    }
    .nav ul {
        width: 100%
    }
    .nav ul li {
        font-size: .95em;
        line-height: 1.8
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 16px;
        max-width: 520px
    }
    h5 {
        font-size: .8em;
        max-width: 360px
    }
    .item {
        width: 47%;
        margin-right: 3%;
        margin-bottom: 1.5%;
        margin-top: 1.5%;
        height: 140px
    }
    .item-con,
    .item.it-alt {
        width: 98%;
        margin-right: 2%;
        min-height: 80px;
        height: auto
    }
    .item-con {
        margin-bottom: 30px
    }
    .item-wrapper {
        width: 70%;
        left: 15%;
        right: 15%
    }
}

@media only screen and (max-width:760px) {
    .menu-mobile,
    .menu-show {
        display: block
    }
    .m-mobile,
    .menu-toggle {
        background: #1a1a1a
    }
    .footer,
    .grid,
    .nav {
        float: left
    }
    p {
        font-size: .95em
    }
    p.body {
        font-size: .875em
    }
    .intro {
        margin-top: 15px
    }
    #gallery {
        width: 90%;
        min-width: 0;
        height: auto;
        max-height: 0;
        min-height: 90%
    }
    .gallery,
    .item-body,
    .item-header {
        width: 100%
    }
    .gallery {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto
    }
    .hero,
    .nav {
        bottom: auto
    }
    .ite.item-body {
        padding-top: 0
    }
    .item-body p {
        width: 100%;
        padding-right: 12px
    }
    .ite.item-header {
        padding-top: 14px
    }
    .upcoming {
        width: 90%
    }
    .grid {
        padding-top: 60px
    }
    .m-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 60px;
        padding-bottom: 40px;
        overflow-y: scroll;
        z-index: 89
    }
    .m-mobile #facebook {
        color: #fff
    }
    .m-mobile .nav {
        margin-top: 15px;
        padding-left: 0
    }
    .m-mobile h5 {
        padding-left: 10px
    }
    .menu-mobile {
        position: fixed;
        top: 65px;
        left: 0;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 90;
        padding-top: 16px
    }
    .bg.bg-bt,
    .info {
        display: none
    }
    .menu-toggle .m-line {
        opacity: .35
    }
    .menu-mobile:active {
        background: rgba(12, 12, 12, .9)
    }
    .m-line {
        position: relative;
        width: 23px;
        margin-left: 11px;
        height: 1px;
        margin-bottom: 5px;
        background: #FC0
    }
    .bg.bg-top {
        height: 50px
    }
    .page,
    .sc {
        position: relative;
        height: auto
    }
    .sc {
        min-height: 0;
        padding-left: 60px
    }
    .content {
        padding-left: 0
    }
    .banner-wrapper {
        padding-left: 60px
    }
    .sc-h {
        top: 0;
        left: 0;
        width: 45px;
        margin-left: 0;
        background: rgba(72, 72, 72, .25)
    }
    .sc-h.resize {
        background: 0 0
    }
    .logo {
        width: 72px;
        top: 10px;
        margin-left: -14px;
        height: 42px;
        overflow: hidden
    }
    .grid {
        position: relative;
        padding-left: 0;
        padding-bottom: 30px;
        height: auto
    }
    .nav {
        position: relative;
        height: 220px;
        padding-bottom: 40px;
        padding-left: 60px;
        margin-top: 40px
    }
    .nav ul {
        width: 100%
    }
    .nav ul li {
        width: 50%;
        height: 33.33%
    }
    .hero {
        position: relative;
        padding-top: 75px;
        margin-bottom: 0
    }
    .footer {
        position: relative;
        padding-left: 72px;
        height: 45px;
        z-index: 10
    }
}

@media only screen and (max-width:520px) {
    .close {
        width: auto;
        margin-top: -20px;
        top: 5%;
        left: auto;
        right: 5%;
        background: #FC0;
        height: 23px;
        padding: 0 4px 2px
    }
    .close h5 {
        margin-top: -4px;
        color: #000
    }
    .close-show {
        margin-top: 10px
    }
    .item-wrapper {
        position: fixed;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%
    }
    .item-content {
        background: rgba(51, 51, 51, 1);
        padding-top: 48px
    }
    .line {
        width: 60%
    }
    .line-active,
    .link-active {
        width: 85%
    }
    .item {
        width: 96%;
        margin-right: 4%;
        min-height: 80px;
        height: auto;
        margin-bottom: 3%
    }
    p.text-bt {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        bottom: auto;
        padding-top: 16px
    }
}

a.link {
    color: #FC0;
}
