body{
    background-color: #ffffff;
}

.sm-icon{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#banner{
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

/*.first{*/
/*    background-color: #ffffff;*/
/*    opacity: 0.5;*/
/*}*/

/*.first:hover{*/
/*    opacity: 1.0;*/
/*    filter: alpha(opacity=100);*/
/*}*/

.logo-text{
    /*font: "helvetica light";*/
    font-family: 'Helvetica Neue';
    font-weight: light;
    color: #000000;
}
